[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "vendor/tinyxml2"]
	path = vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "vendor/libsass"]
	path = vendor/libsass
	url = https://github.com/sass/libsass.git
[submodule "vendor/cpptoml"]
	path = vendor/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "vendor/snappy"]
	path = vendor/snappy
	url = https://github.com/fstudio/snappy.git
[submodule "tools/nmake"]
	path = tools/nmake
	url = https://github.com/fstudio/nmake.git
[submodule "vendor/cmark"]
	path = vendor/cmark
	url = https://github.com/jgm/cmark.git
[submodule "vendor/http-parser"]
	path = vendor/http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "vendor/re2"]
	path = vendor/re2
	url = https://github.com/google/RE2.git
