[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "deps/libsass"]
	path = deps/libsass
	url = https://github.com/sass/libsass.git
[submodule "deps/cpptoml"]
	path = deps/cpptoml
	url = https://github.com/skystrife/cpptoml.git
