
#Google Test External Project
test/gtest

#CMake
CMakeCache.txt
cmake_install.cmake
CMakeScripts
CMakeFiles
Makefile
install_manifest.txt

#Build Artifacts
mjsontest
mjsontest.exe
libmjson.lib
libmjson.dll
libmjson.a
libmjson.so
libmjson.dylib
lib

#Generated Documentation
doc

#QtCreator / CodeBlocks
*.cbp

#XCode
*.build
*.xcodeproj

#Visual Studio
*.vcxproj
*.vcxproj.filters
*.sln
Debug
Release
*.dir

#OS Treats
*.DS_Store

#IDE Treats
*.user
