*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.exp
*.lib
*.o
*.a
*.pch
*.idb
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.res
*.dll
*.exe
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.sdf
*.opensdf
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
PackageRuntime/tinyxml2.cpp
PackageRuntime/tinyxml2.h
Support/.svn/*

