*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.exp
*.lib
*.o
*.a
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.exe
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
rapidjson/
ContainerLPCClient.hpp

