////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//// Phoenix Resource Defined.

#include "Windows.h"
#include "../include/version.h"
#include "Resource.h"


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//Manifest
1 RT_MANIFEST Phoenix.exe.manifest


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//VERSIONINFO
VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_WORDS
 PRODUCTVERSION VERSION_WORDS
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", L"The Force Studio\0"
            VALUE "FileDescription", L"Phoenix Pro Editor\0"
            VALUE "FileVersion", VERSION_STRING
            VALUE "InternalName", L"Phoenix.exe\0"
            VALUE "LegalCopyright", COPYRIGHT YEARSTRING RESERVEDINFO
            VALUE "OriginalFilename", L"Phoenix.exe\0"
            VALUE "ProductName", L"Phoenix Pro Editor\0"
            VALUE "ProductVersion", VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
///StringTable
STRINGTABLE
BEGIN
IDR_GITHUB_PAGE           "https://github.com/fcharlie"
END