////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///
#include "windows.h"
#include "winres.h"
#include <commctrl.h>
#include "resource.h"

IDI_WIZICON ICON "AirflowApp.ico"


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Main Page
IDD_AIRFLOW_FIRST DIALOGEX 0, 0, 320, 80
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 10, "Segoe UI", 0, 0, 0x0
BEGIN
    LTEXT           "Package:",IDC_STATIC,0,0,150,12
	EDITTEXT        IDC_EDIT_FILEURL,60,0,180,12,ES_AUTOHSCROLL
    PUSHBUTTON      "View...",IDC_BUTTON_OPENFILE,250,0,50,12
    LTEXT           "Recover Folder:",IDC_STATIC,0,20,150,12
	EDITTEXT        IDC_EDIT_FOLDER,60,20,180,12,ES_AUTOHSCROLL
	PUSHBUTTON      "New Folder...",IDC_BUTTON_OPENDIR,250,20,50,12
	CONTROL            "Rate",IDC_PROCESS_RATE,"msctls_progress32",WS_BORDER,60,40,180,10, WS_EX_LEFT | WS_EX_LTRREADING | WS_EX_RIGHTSCROLLBAR | WS_EX_NOPARENTNOTIFY
	PUSHBUTTON      "Enter",IDC_BUTTON_ENTER,60,60,80,12
	PUSHBUTTON      "Cancel",IDC_BUTTON_CANCEL,160,60,80,12
END

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// This Exe version Info
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", L"The Force Studio\0"
            VALUE "FileDescription", L"Airflow -Recover Microsoft Installer and Update File\0"
            VALUE "FileVersion", L"1.0.0\0"
            VALUE "InternalName", L"Airflow.exe\0"
            VALUE "LegalCopyright", L"Copyright \x00A9 2015 The ForceStudio.All Rights Reserved\0"
            VALUE "OriginalFilename", L"Airflow.exe\0"
            VALUE "ProductName", L"Airflow Recover\0"
            VALUE "ProductVersion", L"1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END

